<!DOCTYPE html>
<html lang="{{ .Lang }}">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="canonical" href="{{ .Permalink }}">

    {{ if .Page.Params.TabName }}
      <!-- For navigation bar 'posts' -->
      <title>{{ .Page.Params.TabName }} :: {{ .Site.Title }}</title>
    {{ else if .Page.Params.Title }}
      <!-- For single actual posts -->
      <title>{{ .Page.Params.Title }} :: {{ .Site.Title }}</title>
    {{ else }}
      <!-- For top level listings page -->
      <title>:: {{ .Site.Title }}</title>
    {{ end }}

    <link href="{{ .Site.BaseURL }}css/tufte.css" rel="stylesheet">
    <link href="{{ .Site.BaseURL }}css/latex.css" rel="stylesheet">
    <link href="{{ .Site.BaseURL }}css/style.css" rel="stylesheet"> <!-- For custom overrides. -->
  </head>

  <div class="nav-bar">
    <ul>
      <li><a href="{{ "/" | relURL }}">Blog</a></li>
      <li><a href="{{ "newsletter" | relURL }}">Newsletter</a></li>
      <li><a href="{{ "about" | relURL }}">About</a></li>
    </ul>
  </div>

  <body>
    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}
  </body>

</html>

{{- /* vim: set ts=2 sw=2 et: */}}
