{{ define "main" }}
{{ $dateFormat := "January 02, 2006" }}

{{ if .Title }}
  <h1 class="single-title">{{ .Title | markdownify }}</h1>
  <!-- We only load the permalink script if we're a blog post (approximated by
   the Title field being defined -->
  <script defer src="{{ .Site.BaseURL }}js/permalink.js"></script>
{{ end }}

{{ if .Params.description }}
  <p class="subtitle" class="single-description">{{ .Params.description | markdownify }}</p>
{{ end }}

{{ if .Params.date }}
  <p class="single-time"><time>{{ .Date.Format $dateFormat}}</time></p>
{{ end }}

<section class="single-content">
  {{ .Content }}
</section>

{{ end }}

{{- /* vim: set ts=2 sw=2 et: */}}
